/* app.ss*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Poppins:ital,wght@0,400;0,700;0,800;0,900;1,700&display=swap');
html {
    /*--primary-color:  ar-gradient(to right,#313B47,#00C8AA);*/
    /*darkmodus -toggle*/
    --primary: #b9bcbf;
    --secondary: #c2c2c2;
    --shadow: #0001;
    --white: #fff;
}

html[data-theme='light'] {
    --card-color: #fff;
    --second-card-color: #f4f4f4;
    --primary-color: #fabb5c;
    --secondary-color: #fabb5c;
    --background-color: rgb(246, 246, 246);
    --grey-color: #626569;
    --second-card-color: #f4f4f4;
    --font-color: rgb(51, 48, 48);
    --light-color: white;
}

html[data-theme='dark'] {
    --card-color: #2c3a47;
    --primary-color: #fabb5c;
    --secondary-color: #5879fdb3;
    --background-color: #2c303a;
    --footer-color: #2c3a47;
    --font-color: #efeeea;
    --landing-body: #07131f;
    --landing-font-color: #d4d3cd;
}


/* #5879fd*/

[data-theme='light'] .d-block-light,
[data-theme='dark'] .d-block-dark {
    display: block !important;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    -height: 1.6;
    background-color: var(--background-color);
    color: var(--font-color);
    overflow-x: hidden;
}

a {
    color: var(--font-color);
    text-decoration: none;
    font-weight: bold;
    text-align: center;
}

ul {
    list-style: none;
}

h2,
h3,
h4 {
    color: var(--font-color);
}

.bg-white:hover a h4 {
    color: var(--secondary-color);
}

.container {
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
    padding: 7rem 2rem;
    /* margin-top: 6rem; */
    margin-bottom: 3rem;
}


/*
    /* Grids 
    
    .grid-layout {
        display: grid;
        grid-template-areas: 'one ' 'two' 'three' 'four ';
        grid-gap: 1rem;
    }
    /*Grid-one 
    
    .grid-one {
        grid-area: one;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-color: var(--secondary-color);
    }
    
    .img-profile {
        height: 10vh;
        width: 100%;
        border-radius: 80%;
        opacity: 0.1;
        z-index: -1;
    }
    
    */

.shape {
    grid-area: two;
    text-align: center;
    border-radius: 0 0 0.5rem 0.5rem;
    border-radius: 0.5rem;
    margin: 1rem 0rem 2rem 0rem;
    padding: 2rem 1rem;
}

.bg-white {
    background: var(--card-color);
    margin: 1rem 0rem;
    padding: 2rem 1rem;
    cursor: pointer;
}

.helpUkraine {
    padding: 2rem;
    text-transform: uppercase;
}


/* text 
    
    .grid-four {
        grid-area: four;
        border-radius: 0.5rem;
    }
    
    .hiddenSuggestion {
        color: rgb(143, 127, 255);
        color: rgb(223, 146, 126);
        font-weight: bold;
        cursor: pointer;
    }
    
    .grid-three h2,
    .grid-four h2 {
        margin-bottom: 1rem;
    }

    */

@media only screen and (max-width: 1100px) {
    .grid-layout {
        display: grid;
        grid-template-areas: 'one  ' 'two  ' 'four ' 'three ';
        grid-gap: 1rem;
    }
}

@media only screen and (max-width: 600px) {
    .shape {
        padding: 2rem 1rem;
    }
}

@media only screen and (max-width: 400px) {
    .container {
        padding: 2rem 0.5rem !important;
    }
}


/*
        .grid-one .btn {
            padding: 0.4rem 1rem;
            font-size: 0.9rem;
        }
        .grid-one {
            grid-gap: 1rem;
        }
        /* profile picture 
        .grid-one {
            padding: 0.5rem;
        }
        
.img-profile { 
  padding:2rem;
}

*/